* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, #app {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
}
