<div class="container">
    <div class="title">Transfers</div>

    <div class="content">
    @foreach (var transfer in Transfers)
    {
        <div class="item">
            <div class="item-icon">
            @if (transfer.IsTransferring)
            {
            @if (transfer.IsStopped)
            {
                <i class="fa-solid fa-file-circle-xmark"></i>
            }
            else
            {
                <i class="fa-solid fa-file-arrow-down"></i>
            }
            }
            else
            {
                <i class="fa-solid fa-file"></i>
            }
            </div>
            <div class="item-info">
                <div class="name">@transfer.Name</div>
                <div class="status">@transfer.Status</div>
            </div>
            <div class="item-actions">
            @if (transfer.IsTransferring &&
                 !transfer.IsStopped)
            {
                <button class="stop" @onclick="transfer.Stop">
                    <i class="fa-regular fa-circle-stop"></i>
                </button>
            }
            else if (transfer.IsCompleted)
            {
                <button class="save" @onclick="transfer.Save">
                    <i class="fa-solid fa-floppy-disk"></i>
                </button>
            }
            </div>
        </div>
    }
    </div>
</div>
