.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.title {
    grid-row: 1;
    margin: 10px;
    font-size: 1.3rem;
}

.content {
    grid-row: 2;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.item {
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.item-icon {
    grid-column: 1;
    padding: 1rem 0.8rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-info {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr auto;
}

.item-info > .name {
    grid-row: 1;
    padding: 3px 0;
    word-wrap: break-word;
}

.item-info > .status {
    grid-row: 2;
    font-style: italic;
    font-size: 0.8rem;
    padding: 3px 0;
}

.item-actions {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-actions > button {
    background: none;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
}

.item-actions > .save {
    color: darkgreen;
}

.item-actions > .stop {
    color: red;
}
