@page "/client/{SenderId}"

<div class="container">
    <div class="header">
        <button class="back-btn" @onclick="GoBack">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <div class="title">
            @Username
        </div>
    </div>
    <div class="content">
    @foreach (var vm in Files)
    {
        <div class="file">
            <div class="file-icon">
                <i class="fa-solid fa-file"></i>
            </div>
            <div class="file-info">
                <span class="name">@vm.Name</span>
                <span class="size">@vm.SizeStr</span>
            </div>
            <div class="file-action">
                <button @onclick="vm.Download">
                    <i class="fa-solid fa-download"></i>
                </button>
            </div>
        </div>
    }
    </div>
    <button class="refresh-btn" @onclick="LoadFilesAsync">
        <i class="fa-solid fa-arrows-rotate"></i>
    </button>

    <button class="transfers-btn" @onclick="ToggleTransfersAsync">
        <i class="fa-solid fa-list"></i>
    </button>
    <div class="transfers-overlay @TransfersOverlayCssClass" @onclick="ToggleTransfersAsync"></div>
    <div class="transfers @TransfersCssClass">
        <ClientTransfersView SenderId="@SenderId" />
    </div>
</div>
