.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    grid-row: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.back-btn {
    grid-column: 1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.back-btn:active {
    background: lightgray;
}

.title {
    grid-column: 2;
    margin-left: 10px;
    font-size: 1.2rem;
}

.content {
    grid-row: 2;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.file {
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.file-icon {
    grid-column: 1;
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-info {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
}

.file-info > .name {
    grid-row: 1;
}

.file-info > .size {
    grid-row: 2;
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: lighter;
    font-style: italic;
}

.file-action {
    grid-column: 3;
    padding: 10px;
}

.file-action > button {
    font-size: 1.5rem;
    color: green;
    background: none;
    border: none;
}

.refresh-btn {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: lightgray;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.refresh-btn:active {
    background: gray;
}

.transfers-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.transfers-btn:active {
    background: lightgray;
}

.transfers-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.transfers-overlay.visible {
    display: block;
}

.transfers {
    position: absolute;
    right: 0;
    height: 100%;
    width: 80%;
    max-width: 25rem;
    transform: translateX(100%);
    display: none;
    background: white;
}

.transfers.visible {
    display: flex;
    align-items: flex-start;
}

.transfers.slide-in {
    animation: transfers-slide-in 0.3s forwards;
}

@keyframes transfers-slide-in {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

.transfers.slide-out {
    animation: transfers-slide-out 0.3s forwards;
}

@keyframes transfers-slide-out {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}
