.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.menu-btn:active {
    background: lightgray;
}

.menu-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.menu-overlay.visible {
    display: block;
}

.menu {
    position: absolute;
    right: 0;
    height: 100%;
    width: 80%;
    max-width: 20rem;
    transform: translateX(100%);
    display: none;
    background: white;
}

.menu.visible {
    display: flex;
    align-items: flex-start;
}

.menu.slide-in {
    animation: menu-slide-in 0.3s forwards;
}

@keyframes menu-slide-in {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

.menu.slide-out {
    animation: menu-slide-out 0.3s forwards;
}

@keyframes menu-slide-out {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}

.options {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.options > button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin: 10px;
}
