@page "/"

<div class="container">
    <div class="options">
        <button @onclick="OpenReceiverDiscovery">Send</button>
        <button @onclick="OpenSenderDiscovery">Receive</button>
    </div>

    <button class="menu-btn" @onclick="ToggleMenuAsync">
        <i class="fa-solid fa-gear"></i>
    </button>
    <div class="menu-overlay @MenuOverlayCssClass" @onclick="ToggleMenuAsync"></div>
    <div class="menu @MenuCssClass">
        <SettingsView />
    </div>
</div>
