@page "/receiver-discovery/qr"

<div class="container">
    <div class="header">
        <button class="back-btn" @onclick="GoBack">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <div class="title">
        @if (IsShowingOffer)
        {
            <span>Connect Offer</span>
        }
        else
        {
            <span>Scan Connect Answer</span>
        }
        </div>
    </div>
@if (IsShowingOffer)
{
    <div class="content offer">
        <canvas id="@QrCanvasId" class="offer-canvas"></canvas>
        <button class="offer-next-btn" @onclick="WaitAnswer">
            Scan Connect Answer
        </button>
    </div>
}
else
{
    <div class="content scanner">
        <video id="@ScannerVideoId" class="scanner-video"></video>
        <canvas id="@ScannerCanvasId" class="scanner-canvas" width="500" height="500"></canvas>
    </div>
}
</div>
