.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    grid-row: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.back-btn {
    grid-column: 1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.back-btn:active {
    background: lightgray;
}

.title {
    grid-column: 2;
    margin-left: 10px;
    font-size: 1.2rem;
}

.content {
    grid-row: 2;
    width: 100%;
    height: 100%;
}

.content.offer {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 80fr 20fr;
}

.offer-canvas {
    grid-row: 1;
    width: 80%;
    height: 80%;
}

.offer-next-btn {
    grid-row: 2;
    padding: 1rem;
    font-size: 1.3rem;
}

.content.scanner {
    display: grid;
    align-items: center;
    justify-items: center;
}

.scanner-video {
    width: 80%;
    height: 80%;
}

.scanner-canvas {
    display: none;
}
