@page "/receiver-discovery"

<div class="container">
    <div class="header">
        <button class="back-btn" @onclick="GoBack">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <div class="title">
            Receiver List
        </div>
    </div>
    <div class="content">
        @foreach (ReceiverViewModel i in Receivers)
        {
            ReceiverViewModel receiver = i;

            <div class="peer" @onclick="receiver.Connect">
                <div class="peer-icon">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="peer-username">
                    @if (receiver.IsConnecting)
                    {
                        @receiver.Username <i>[Connecting...]</i> <button @onclick="receiver.CancelConnect">Cancel</button>
                    }
                    else if (receiver.IsConnected)
                    {
                        @receiver.Username <i>[Connected]</i>
                    }
                    else
                    {
                        @receiver.Username
                    }
                </div>
            </div>
        }
    </div>
    <button class="qr-btn" @onclick="OpenQr">
        <i class="fa-solid fa-qrcode"></i>
    </button>
</div>
