.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    grid-row: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.back-btn {
    grid-column: 1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.back-btn:active {
    background: lightgray;
}

.title {
    grid-column: 2;
    margin-left: 10px;
    font-size: 1.2rem;
}

.content {
    grid-row: 2;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.peer {
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.peer-icon {
    grid-column: 1;
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.peer-username {
    grid-column: 2;
}

.qr-btn {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: lightgray;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.qr-btn:active {
    background: gray;
}
