@page "/sender-discovery/qr"

<div class="container">
    <div class="header">
        <button class="back-btn" @onclick="GoBack">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <div class="title">
        @if (IsScanningOffer)
        {
            <span>Scan Connect Offer</span>
        }
        else
        {
            <span>Connect Answer</span>
        }
        </div>
    </div>
    <div class="content">
    @if (IsScanningOffer)
    {
        <video id="@ScannerVideoId" class="scanner-video"></video>
        <canvas id="@ScannerCanvasId" class="scanner-canvas" width="500" height="500"></canvas>
    }
    else
    {
        <canvas id="@QrCanvasId" class="answer-canvas"></canvas>
    }
    </div>
</div>
