@page "/sender-discovery"

<div class="container">
    <div class="header">
        <button class="back-btn" @onclick="GoBack">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <div class="title">
            Sender List
        </div>
    </div>
    <div class="content">
        @foreach (RequestViewModel i in Requests)
        {
            RequestViewModel request = i;

            <div class="peer" @onclick="request.Answer">
                <div class="peer-icon">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="peer-username">
                    @if (request.IsAnswering)
                    {
                        @request.Username <i>[Connecting...]</i> <button @onclick="request.CancelAnswer">Cancel</button>
                    }
                    else if (request.IsAnswered)
                    {
                        @request.Username <i>[Connected]</i>
                    }
                    else
                    {
                        @request.Username
                    }
                </div>
            </div>
        }
    </div>
    <button class="qr-btn" @onclick="ScanQr">
        <i class="fa-solid fa-qrcode"></i>
    </button>
</div>
