@page "/server/{ReceiverId}"

<div class="container">
    <div class="header">
        <button class="back-btn" @onclick="GoBack">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <div class="title">
            @Username
        </div>
    </div>
    <div class="content">
    @foreach (var vm in Files)
    {
        <div class="file">
            <div class="file-icon">
                <i class="fa-solid fa-file"></i>
            </div>
            <div class="file-info">
                <span class="name">@vm.Name</span>
                <span class="size">@vm.SizeStr</span>
            </div>
            <div class="file-action">
                <button @onclick="vm.Delete">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>
    }
    </div>
    <button class="browse-btn" @onclick="Browse">
        <i class="fa-solid fa-plus"></i>
    </button>
</div>
