.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    grid-row: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.back-btn {
    grid-column: 1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.back-btn:active {
    background: lightgray;
}

.title {
    grid-column: 2;
    margin-left: 10px;
    font-size: 1.2rem;
}

.content {
    grid-row: 2;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.file {
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.file-icon {
    grid-column: 1;
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-info {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
}

.file-info > .name {
    grid-row: 1;
}

.file-info > .size {
    grid-row: 2;
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: lighter;
    font-style: italic;
}

.file-action {
    grid-column: 3;
    padding: 10px;
}

.file-action > button {
    font-size: 1.5rem;
    color: red;
    background: none;
    border: none;
}

.browse-btn {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: lightgray;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.browse-btn:active {
    background: gray;
}
