.container {
    width: 100%;
    margin: 20px 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-items: center;
}

.username-lbl {
    grid-row: 1;
    grid-column: 1;
    padding-right: 1rem;
}

.username-text {
    grid-row: 1;
    grid-column: 2;
    word-break: break-all;
}

.username-edit-text {
    grid-row: 1;
    grid-column: 2;
    padding: 5px;
}

.editor {
    grid-row: 2;
    grid-column: auto/span 2;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor > button {
    padding: 0.3rem 1rem;
    margin: 10px;
}
