<div class="container">
    <div class="username-lbl"><i>Username</i></div>
    
    @if (IsEditorOpen)
    {
        <input
            type="text"
            class="username-edit-text"
            @bind="NewUsername"
            @bind:event="oninput" />
    }
    else
    {
        <div class="username-text">@Username</div>
    }

    <div class="editor">
        @if (IsEditorOpen)
        {
            <button @onclick="SaveAsync">Save</button>
            <button @onclick="CloseEditor">Cancel</button>
        }
        else
        {
            <button @onclick="OpenEditor">Edit</button>
        }
    </div>
</div>
